:root {
   --first-color: rgb(246, 114, 128);
   --first-alpha-color:rgb(246, 114, 128, 0.75);
   --second-color:rgb(53, 92, 125);
   --second-alpha-color:rgb(53, 92, 125, 0.75);
   --third-color:rgb(108, 91, 123);
   --third-alpha-color:rgb(108, 91, 123, 0.75);

   --link-color:rgb(192, 108, 132);
   --link-alpha-color:rgb(192, 108, 132, 0.75);

   --bg-color:rgb(245, 245, 245);
   --bg-alpha-color:rgb(245, 245, 245, 0.75);
}

hr {
    background-color: transparent;
    border: none;
    height: 3px;
    
    box-shadow: 0 0 5px var(--third-color), 0 0 10px var(--third-color), 0 0 20px var(--third-color), 0 0 40px var(--first-color), 0 0 80px var(--first-color), 0 0 90px var(--first-color), 0 0 100px var(--first-color), 0 0 150px var(--first-color);
    text-shadow: 0 0 5px var(--third-color), 0 0 10px var(--third-color), 0 0 20px var(--third-color), 0 0 40px var(--first-color), 0 0 80px var(--first-color), 0 0 90px var(--first-color), 0 0 100px var(--first-color), 0 0 150px var(--first-color);
    /*background-image: linear-gradient(to right, var(--first-color), var(--first-color) 25%, var(--third-color) 25%, var(--third-color) 50%, var(--first-color) 50%, var(--first-color) 75%, var(--third-color) 75%, var(--third-color));*/
    background-size: 10px 10px;
    
} 

li {
    list-style:none
}